{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
    <title>Главная</title>
</head>
<body>
    {{ user.current_chat.id|json_script:"userCurrentChat" }}

    <div class="container">
        <div class="add-chat" id="addChatPopUp" style="display: none;">
            <!-- <form class="add-chat-form" method="POST" action="create_new_chat">
                {% csrf_token %}

                {% if add_chat_form.errors %}
                    <div class="form-errors">
                        {% for field in add_chat_form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="form-error">
                                        <h5>{{ field.label }}: {{ error }}</h5>
                                        <label class="form-error-label">Ошибка</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {% for error in add_chat_form.non_field_errors %}
                            <div class="form-error">
                                <h5>{{ error }}</h5>
                                <label class="form-error-label">Ошибка</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {{ add_chat_form.username }}

                <button type="submit" class="add-chat-button">Добавить чат</button>
            </form> -->

            <div class="add-chat-form">
                <input type="text" class="add-chat-input" placeholder="Введите имя пользователя" id="usernameToAdd">

                <button class="add-chat-button" id="addChatButton">Добавить чат</button>
            </div>
        </div>

        <header class="chats-header">
            <h1>Мессенджер</h1>

            <div class="header-user-wrapper">
                <div class="user-img"></div>
                <h1 id="currentUser">{{ user }}</h1>

                <form method="POST" action="{% url 'sign_out' %}">
                    {% csrf_token %}

                    <button type="submit" class="logout-button">Выйти</button>
                </form>

                <button class="add-chat-button-open" id="addChatButtonOpen">Добавить чат</button>
            </div>
        </header>

        <div class="chats-wrapper">
            <div class="chats" id="chats">
                {% for chat in chats %}
                    <div class="chat" id="{{ chat.id }}">
                        <div class="chat-img"></div>
                        <h2 class="chat-name">{{ chat.name }}</h2>
                    </div>
                {% endfor %}
            </div>

            <div class="chat-wrapper">
                <header class="chat-header">
                    <div class="chat-img"></div>
                    <h2 class="chat-name">Чат 1</h2>
                </header>

                <div class="active-chat" id="activeChat">
                    {% for message in messages %}
                        {% if message.sender == user %}
                            <div class="my-message-wrapper">
                                <div class="my-message">{{ message.text|safe }}</div>
                            </div>
                        {% else %}
                            <div class="other-message-wrapper">
                                <div class="other-message">{{ message.text|safe }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <footer class="chat-footer">
                    <div class="message-form">
                        <input type="text" class="message-input" placeholder="Введите сообщение" id="messageText">

                        <button class="send-message-button" id="sendMessageButton">Отправить сообщение</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'js/index-script.js' %}"></script>
</html>