{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/auth-style.css' %}">
    <title>Регистрация</title>
</head>
<body class="form-container">
    <form method="POST" action="{% url 'sign_up' %}" class="auth-form" novalidate>
        {% csrf_token %}

        <h1>Регистрация</h1>

        <div class="inputs-div">
            <div class="input-wrapper">
                {{ form.username }}
                <label for="login-field" class="input-label required">{{ form.username.label }}</label>
            </div>

            <div class="input-wrapper">
                {{ form.email }}
                <label for="email-field" class="input-label">{{ form.email.label }}</label>
            </div>

            <div class="input-wrapper">
                {{ form.password1 }}
                <label for="password-field-1" class="input-label required">{{ form.password1.label }}</label>
            </div>

            <div class="input-wrapper">
                {{ form.password2 }}
                <label for="password-field-2" class="input-label required">{{ form.password2.label }}</label>
            </div>
        </div>

        {% if form.errors %}
            <div class="from-errors">
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <div class="form-error">
                                <h5>{{ field.label }}: {{ error }}</h5>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="form-error">
                        <h5>{{ error }}</h5>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-footer">
            <p class="auth-link">Уже есть аккаунт? <a href="{% url 'sign_in' %}">Войти</a></p>

            <button type="submit" class="submit-button">Зарегистрироваться</button>
        </div>
    </form>
</body>
</html>